.alertS {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 2rem;
    border: 5px solid transparent;
    border-radius: 20rem;
    font-size:2.4rem;
  }
  
  
  
  .alert-dangerS {
      color: #06720f;
      background-color: #e998d1ee;
      border-color: #79457a;
    }
    
    .alert-dangerS hr {
      border-top-color: #fbb3af;
    }
    
    .alert-dangerR {
        color: #640909;
        background-color: #357702ee;
        border-color: #033d03ee;
      }
      
      .alert-dangerR hr {
        border-top-color: #fbb3af;
      }
      
    
  .alert-infoS {
      color: #02171a;
      background-color:  #0f9faf;
      border-color: #b8ecf3;
    }
    
    
    
  .alert-warningQ {
      color: #e4d01e;
      background-color: #12727c;
      border-color: #fff9c8;
    }
  